/* ruu-vi-styles.css for Ruuvi Environment station */
/*  version 1.1.3 
    1.1.2 add needsUpdate
    1.1.1 beacon-id  
    1.10 B   add beacon, drop upppercase 
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
html {
  height: 101%;
  font-size: 62.5%;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
menu,
nav,
section,
img,
ol,
ul {
  list-style: none;
}
video {
  display: block;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
strong {
  font-weight: bold;
}
input {
  outline: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.clearfix:before,
.clearfix:after {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
html,
body {
  height: 100%;
}
body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 24px;
  line-height: 2.4rem;
  font-weight: 300;
  color: #fff;
  background: url(../images/bg-m.jpg) no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
@media (min-width: 400px) {
  body {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
h1 {
  width: 100%;
  float: left;
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  font-size: 2.2rem;
  line-height: 24px;
  line-height: 2.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
  padding: 10px 0;
  opacity: 0.6;
  text-align: center;
}
h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
  font-size: 2.6rem;
  line-height: 50px;
  line-height: 5rem;
  font-weight: 600;
}
@media (min-width: 400px) {
  h3 {
    font-size: 30px;
    font-size: 3rem;
  }
}
p {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 24px;
  line-height: 2.4rem;
  letter-spacing: 2px;
  text-transform: none;
}
@media (min-width: 400px) {
  p {
    font-size: 16px;
    font-size: 1.6rem;
  }
}
p span {
  width: 100%;
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-size: 2rem;
  line-height: 26px;
  line-height: 2.6rem;
  opacity: 0.6;
  letter-spacing: 0px;
  text-transform: none;
}
.small {
  font-size: 10px;
  font-size: 1rem;
  line-height: 13px;
  line-height: 1.3rem;
}
.needsUpgrade  {font-family:sans-serif;}
.available {
  width: 100%;
  float: left;
}
a.tag-available,
a.tag-available:visited {
  display: block;
  margin: 0 auto 40px auto;
  width: 150px;
  height: 40px;
  background: url(../svg/fallback/now-available.png) center center no-repeat;
  background-image: url(../svg/now-available.svg), none;
  text-indent: -9999px;
}
a.tag-available:hover {
  opacity: 0.8;
}
.container {
  width: 100%;
  max-width: 500px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  z-index: 10;
}
.header {
  width: 100%;
  float: left;
  text-align: center;
}
.branding {
  width: 160px;
  height: 33px;
  margin: 40px auto 0 auto;
  background: url(../svg/fallback/ruuvi-logo.png) center center no-repeat;
  background-image: url(../svg/ruuvi-logo.svg), none;
  text-indent: -9999px;
}
@media (min-height: 700px) {
  .branding {
    margin: 80px auto 0 auto;
  }
}
.content {
  width: 100%;
  float: left;
}
.measurements {
  width: 100%;
  float: left;
  margin: 30px 0;
  border-bottom: 1px solid #fff;
  border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
@media (min-height: 700px) {
  .measurements {
    margin: 40px 0;
  }
}
.measurements li {
  width: 100%;
  float: left;
  display: block;
  border-top: 1px solid #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  padding: 10px;
}
@media (min-width: 400px) {
  .measurements li {
    padding: 20px 10px;
  }
}
.measurements h3 {
  width: auto;
  float: left;
  padding: 0 0 0 60px;
}
@media (min-width: 330px) {
  .measurements h3 {
    padding: 0 0 0 70px;
  }
}
.measurements p {
  width: auto;
  float: right;
  text-align: right;
}
.temperature {
  background: url(../svg/fallback/icon-temperature.png) 20px center no-repeat;
  background-image: url(../svg/icon-temperature.svg), none;
}
.humidity {
  background: url(../svg/fallback/icon-humidity.png) 25px center no-repeat;
  background-image: url(../svg/icon-humidity.svg), none;
}
.air-pressure {
  background: url(../svg/fallback/icon-air-pressure.png) 20px center no-repeat;
  background-image: url(../svg/icon-air-pressure.svg), none;
}
.time {
  background: url(../svg/fallback/icon-time.png) 22px center no-repeat;
  background-image: url(../svg/icon-time.svg), none;
}
.altitude {
  background: url(../svg/fallback/icon-altitude.png) 20px center no-repeat;
  background-image: url(../svg/icon-altitude.svg), none;
}
.beacon-id {
  background: url(../svg/fallback/icon-beacon-id.png) 23px center no-repeat;
  background-image: url(../svg/icon-beacon-id.svg), none;
}
